<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<title>容器</title>
</head>
<body>
	<h1>容器是使用网格系统的必需样式</h1>
	<div class="container">class="container",响应式的固定宽度,意味着不同设备的宽度是不同的,本身已应用此样式</div>
	<div class="container-fluid">class="container-fluid",流体宽度,始终100%,本身已应用此样式</div>
	<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>