<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../css/bootstrap.css">
<link rel="stylesheet" href="../../css/bootstrap-grid.css">
<title>网格</title>
</head>
<body>
	<div class="container">
	<h1>借助十二列系统，五个默认响应层，Sass变量和mixins以及数十个预定义类，使用我们强大的移动优先灵活盒网格来构建各种形状和大小的布局。</h1>
		<div class="row">
			<div class="col-sm">One of three columns</div>
			<div class="col-sm">One of three columns</div>
			<div class="col-sm">One of three columns</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>